In [ ]:
#Dependencies
import pandas as pd

In [2]:
# Read in the stock data set
covid19_data = pd.read_csv('us-counties.csv')

#20 weeks we are looking to track the weekly close price for
hardcode_weeks = [ "2020-01-24", "2020-01-31", "2020-02-07",
                  "2020-02-14", "2020-02-21", "2020-02-28", "2020-03-06", 
                  "2020-03-13", "2020-03-20", "2020-03-27", "2020-04-03", 
                  "2020-04-10", "2020-04-17", "2020-04-24"]
covid19_data.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [3]:
# slice dataframe up by week and store to list
df_list = [ covid19_data[covid19_data["date"] <= hardcode_weeks[0]]]

for i in range(len(hardcode_weeks)-1):
    condition = (covid19_data['date'] > hardcode_weeks[i]) & (covid19_data['date'] <= hardcode_weeks[i+1])
    filtered_df = covid19_data[condition]
    
    df_list.append(filtered_df)

In [4]:
# clean and aggregate the weekly dataframes
data = []
for filtered_df in df_list:
    date = filtered_df['date'].values[-1]
    cases = filtered_df.groupby("fips").last()["cases"].sum()
    deaths = filtered_df.groupby("fips").last()["deaths"].sum()
    
    row = {"date" : date, "cases" : cases, "deaths" : deaths}
    data.append(row)
    data
# Store cleaned data in dataframe and write to csv    
cleaned_df = pd.DataFrame(data)
cleaned_df.to_csv("Covid19_by_week.csv")
cleaned_df

          date   cases  deaths
0   2020-01-24       2       0
1   2020-01-31       7       0
2   2020-02-07      12       0
3   2020-02-14      15       0
4   2020-02-21      30       0
5   2020-02-28      65       0
6   2020-03-06     303      15
7   2020-03-13    2045      50
8   2020-03-20   13432     221
9   2020-03-27   73980    1175
10  2020-04-03  212060    4585
11  2020-04-10  398346   12871
12  2020-04-17  565927   23239
13  2020-04-23  713602   33222