In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
csv_file = "constituents-financials_csv.csv"
financial_df = pd.read_csv(csv_file)
financial_df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [7]:
new_financial_df = financial_df[['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',\
                                '52 Week Low', '52 Week High']].copy()
new_financial_df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,52 Week Low,52 Week High
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,259.77,175.490
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,68.39,48.925
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,64.60,42.280
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,125.86,60.050
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,162.60,114.820

In [9]:
new_financial_df["52 Week Diff"] = new_financial_df["52 Week Low"] - new_financial_df["52 Week High"]
new_financial_df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,52 Week Low,52 Week High,52 Week Diff
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,259.77,175.490,84.280
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,68.39,48.925,19.465
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,64.60,42.280,22.320
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,125.86,60.050,65.810
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,162.60,114.820,47.780

In [11]:
rds_connection_string = "postgres:changeme@localhost:5432/postgres"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [13]:
conn = engine.connect()

In [14]:
conn.execute("commit")

In [15]:
conn.execute("CREATE DATABASE financial_db")

In [16]:
conn.close()

In [17]:
rds_connection_string = "postgres:changeme@localhost:5432/financial_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [23]:
new_financial_df.to_sql(name="financial", con=engine, if_exists='append', index=False)